[buildout]
extensions = 
    mr.developer

show-picked-versions = true

extends = 
    http://dist.plone.org/release/4.3.9/versions.cfg
    versions.cfg

find-links = 

versions = versions
unzip = true

[eggs]
main =
    kk.naegele-v2
    vesna.portlets.collection

addon =
    Pillow
    plone.app.caching
    plone.app.widgets
    Products.PloneFormGen
    Products.ContentWellPortlets
    Products.Carousel

test =
    kk.naegele-v2 [test]

devtools =
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab


[sources]
kk.naegele-v2               = fs kk.naegele-v2
vesna.portlets.collection   = fs vesna.portlets.collection

# Enable to provide rich text tile support
kk.tiles                        = git git@github.com:vwc/vwc.tiles.git

# Additional checkouts
ade25.banner            = git git@github.com:ade25/ade25.banner.git
ade25.toolbar           = git git@github.com:ade25/ade25.toolbar.git
ade25.typekit           = git git@github.com:ade25/ade25.typekit.git
ade25.fabfiles          = git git@github.com:ade25/ade25.fabfiles.git
ade25.panelpage         = git git@github.com:ade25/ade25.panelpage.git
sauna.reload            = git https://github.com/epeli/sauna.reload.git
