// Custom application specific styles
//--------------------------------------


// Bootstrap overrides
// -------------------

// Just take and redefine variables form variables.less in order to customize
// bootstrap default files without even touching them, e.g.:

@font-size-base:          16px;
@line-height-base:        25px;


// Use web-font as a lorem ipsum replacement - add class "wireframed" to make
// blocks of text act as a placeholder
.wireframed {
  color: @gray;
  font-family: 'redactedregular';
}


// Application specific styles 

body {
    background:url(../img/bg.gif)  repeat-x 0 0 #f5f5f5;

    #wrapper {
      margin: 0 auto;
      width: 960px;
      border: 0px solid blue;

      #logo {
        width: 344px;
      }

      .container {
        max-width: 960px !important;
        padding: 0px !important;
}

      #shadow {
        background: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

      h1, h2, h3, h4 {
        margin-top: @line-height-base / 2;
        color: #E04994;
        text-decoration: underline;
        text-transform: uppercase;
      }

      h1 {
        font-size: @font-size-large * 1.6;
      }

    #edit-bar {
      display: inline-block;
      padding: @line-height-base / 2;
      width: 100%;
      background: #999;
      font-size: @font-size-small;
    }
    }
  }
}

img {
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
}

.portaltype-news-item #shadow {
      margin: 0 auto;
      width: 960px;
      background:url(../img/col-two.gif)  repeat-y top right white !important;
}

.navbar {
    position: relative;
    padding: 0px 15px;
    border-radius: 0;
    background-color: transparent;
}

.navbar .nav > li > a {
    padding: 5px  @line-height-base - 15 10px @line-height-base - 15;
    border: 0px solid red;
    color: #000000;
    line-height: 20px;
}


#main-nav .selected a {
    color: #fff;
}

#contentview-view .selected a {
    color: black;
}

#main-nav {
  color: @gray;
  text-transform: uppercase;
  font-size: @font-size-small - 2;
  font-family: @headings-font-family;
}

#content {
  padding: 0 @line-height-base;

  p {
      margin: 0;
      font-size: @font-size-mini + 2;
    }

  table {
    font-size: @font-size-mini + 2;

    td {
      padding: @line-height-base / 2 @line-height-base / 2@line-height-base / 2 0 ;
      vertical-align: top;
    }

    .year {
      color: @brand-primary;
      font-size: @font-size-mini + 6;
      font-family: @headings-font-family;
    }
  }
}

#sidebar {

}

.section-news-parfums .documentFirstHeading,
.section-news-cosmetics .documentFirstHeading,
.section-news-aus-der-glamouroesen-make-up-welt .documentFirstHeading {
  display: none;
}

#above-content {
  border: 0px solid red !important;
}

#above-content #portal-breadcrumbs {
  display: none;
}

// NEWS


.news .col-span-8,
.news .col-span-4 {
  padding: 0px !important;
}

.news-standalone {
  margin: 0px 0px 0px -25px !important;
  width: 640px;
  height: 360px;
  border: 0px solid red !important;
}

.back {
    margin: @line-height-base 0;
}

.back a {
    margin: 0;
    padding: 5px 5px 3px 5px;
    border: 0 none;
    border-radius: 3px;
    background: #E04994;
    color: white;
    text-align: left !important;
    text-transform: uppercase;
  font-size: @font-size-mini;
    font-family: @headings-font-family;
}

.box {
  padding: @line-height-base * 3 @line-height-base ;
  height: 360px;
  }

  .parfums {
  border: 0px solid white;
  background: rgb(224,73,148); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNDk5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNTcyYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  rgba(224,73,148,1) 0%, rgba(229,114,168,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(224,73,148,1)), color-stop(100%,rgba(229,114,168,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04994', endColorstr='#e572a8',GradientType=1 ); /* IE6-8 */
  
  h4 {color: white !important;}

  a {color: white !important;}
  }

  .cosmetic {
    border-bottom: 2px solid @grayLighter;

  }

  .makeup {
    border-bottom: 2px solid @grayLighter;
  }


.big-news {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: @font-size-large * 2 !important;
  font-family: @headings-font-family;
}

.red {
  color: @brand-primary;
}

// KONTAKT

.context, 
.formControls .actionButtons .button, 
.documentEditable * .context, 
.standalone, 
.documentEditable * .standalone {
    margin: 0;
    padding: 5px 10px 3px;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #E04994;
    color: white;
    text-align: left !important;
    text-transform: uppercase;
    font-size: 1em;
    font-family: Times;
}

.formControls {
    margin: 0;
    padding: @line-height-base 0 0 0;
    border-top: 0px;
    background-color: transparent;
}

.portaltype-formfolder #content {
    padding: @line-height-base !important;
    background: none repeat scroll 0 0 #FECEE6 !important;
}

.section-kontakt .box {
  padding: 0;
  height: 360px;
}

.section-kontakt .documentFirstHeading {
  display: none;
}

label {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: @font-size-mini;
}

.fieldErrorBox {
    font-size: @font-size-mini;
}

// CAROUSEL

.carousel-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0%;
    width: 100%;
    background-color: transparent;

    p {
      margin: 0px;
    }
}

#heading {
  margin-top: @line-height-base;
  text-transform: uppercase;
  font-size: @font-size-large + 4;
  font-family: @headings-font-family;
}

.portaltype-news-item #heading,
.portaltype-news-item #below-content {
  display: none;
}

.section-news-parfums #heading,
.section-news-cosmetics #heading,
.section-news-aus-der-glamouroesen-make-up-welt #heading {
  margin-top: 0;
}

#heading .col-span-4 {
  padding: @line-height-base;
  height: 150px;
  background: rgb(206,140,176); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(206,140,176,1) 0%, rgba(214,160,189,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,140,176,1)), color-stop(100%,rgba(214,160,189,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(206,140,176,1) 0%,rgba(214,160,189,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(206,140,176,1) 0%,rgba(214,160,189,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(206,140,176,1) 0%,rgba(214,160,189,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(206,140,176,1) 0%,rgba(214,160,189,1) 100%); /* W3C */
  color: white !important;
  text-align: left;
  text-decoration: underline;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce8cb0', endColorstr='#d6a0bd',GradientType=1 ); /* IE6-8 */
}

#heading .col-span-8 {
  padding: @line-height-base;
  height: 150px;
  background: rgb(224,73,148); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNDk5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNTcyYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  rgba(224,73,148,1) 0%, rgba(229,114,168,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(224,73,148,1)), color-stop(100%,rgba(229,114,168,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04994', endColorstr='#e572a8',GradientType=1 ); /* IE6-8 */
  color: white !important;
  text-align: left;
  text-decoration: underline;
}

#heading .col-span-12 {
  padding: @line-height-base;
  height: 150px;
  background: rgb(224,73,148); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNDk5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNTcyYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  rgba(224,73,148,1) 0%, rgba(229,114,168,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(224,73,148,1)), color-stop(100%,rgba(229,114,168,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(224,73,148,1) 0%,rgba(229,114,168,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04994', endColorstr='#e572a8',GradientType=1 ); /* IE6-8 */
  color: white !important;
  text-align: left;
  text-decoration: underline;
}



// PC PORTLETS 

.AbovePortletManager1,
.BelowPortletManager1,
.AbovePortletManager2,
.BelowPortletManager2,
.AbovePortletManager3,
.BelowPortletManager3  {
    float: left;
    margin: 0;
    width: 320px;
    border: 0 none;
}

.item_title a {
  color: @gray !important;
}

.item_title {
  color: @gray !important;
}

.section-behandlungen .item_title {
  font-size: @font-size-small + 7;
  line-height: @line-height-base; 
}

.item_description {
  color: @gray !important;
  font-size: @font-size-small;
  line-height: @line-height-base;
}

.section-behandlungen .item_description {
  color: #E04994 !important;
  text-transform: uppercase;
  font-family: @headings-font-family;
}

#parent-fieldname-text .invisible {
  visibility: visible !important;
}




// MARKEN

.marken {
    margin: @line-height-base 0 0 0 !important;

    .col-span-3 {
      margin: 9px;
      width: 23%;
    }
}
.marke {
    padding: 10px;
    border: 1px solid #efefef !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #efefef;
    text-align: center;
    float: left;
}

.marke a {
    opacity: 0.5;
}

.marke a:hover {
    opacity: 1;
}



// Some styles for portlets

.portlet {
  .portletHeader {
    display: none;
  }
  .portletItem {
    margin-top: @line-height-base;
    padding: @padding-large;

    ul {
      margin-top: @line-height-base;
      margin-left: 0px;
      list-style: none;
      font-size: @font-size-mini;
    }

    p {
      margin: 0;
      font-size: @font-size-mini + 2;
    }

    h4 {
      color: @gray !important;
    }
  }

  .portletFooter {
    border-bottom: 1px solid @grayLighter;
    line-height: @line-height-base * 2;
  }

  .portletFooter a {
    margin: 0;
    padding: 5px 5px 3px 5px;
    border: 0 none;
    border-radius: 3px;
    background: #E04994;
    color: white;
    text-align: left !important;
    text-transform: uppercase;
    font-size: @font-size-mini;
    font-family: @headings-font-family;
  }
}


// FOOTER

#site-footer {
  p {
    margin-bottom: 0px;
    padding-top: @line-height-base;
    padding-bottom: @line-height-base;
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-size: @font-size-mini;
  }
}

.doormat {
  padding: @line-height-base;
  border: 0px solid red;
  background: rgb(214,214,214); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(232,232,232,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(232,232,232,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(232,232,232,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */


  h4 {
    color: black !important;
  }

  ul {
    margin-left: 0;
  }

  li {
    border-bottom: 1px solid white;
    list-style: none;
    text-transform: uppercase;
    font-size: @font-size-mini - 1;
    line-height: @line-height-base * 1.5;
  }
}

.col-span-4 {
  padding-right: @line-height-base;
  padding-left: 0;
  border: 0px solid black; 
}

.last {
  padding-right: 0 !important; 
}