// Custom application specific styles
//--------------------------------------


// Bootstrap overrides
// -------------------

// Just take and redefine variables form variables.less in order to customize
// bootstrap default files without even touching them, e.g.:

@font-size-base:          16px;
@line-height-base:        25px;


// Use web-font as a lorem ipsum replacement - add class "wireframed" to make
// blocks of text act as a placeholder
.wireframed {
  font-family: 'redactedregular';
  color: @gray;
}


// Application specific styles 

body {
    background:url(../img/bg.gif)  repeat-x 0 0 #f5f5f5 ;

    #wrapper {
      border: 0px solid blue;
      width: 960px;
      margin: 0 auto;

      #shadow {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        background: white;

      h1, h2, h3, h4 {
        color: #E04994;
        text-transform: uppercase;
        text-decoration: underline;
      }

      h1 {
        font-size: @font-size-large * 1.6;
      }

    #edit-bar {
      background: #999;
      display: inline-block;
      width: 100%;
      padding: @line-height-base / 2;
      font-size: @font-size-small;
    }
    }
  }
}


.navbar {
    background-color: transparent;
    border-radius: 0;
    padding: 0px 15px;
    position: relative;
}

.navbar .nav > li > a {
    color: #000000;
    line-height: 20px;
    padding: 5px  @line-height-base - 15 10px @line-height-base - 15;
    border: 0px solid red;
}

#main-nav {
  font-family: Times;
  text-transform: uppercase;
  font-size: @font-size-small - 1;
  color: @gray;
}

#content {
  border: 0px solid red;
  padding: 0 @line-height-base;
}

#above-content {
  border: 0px solid red !important;
}

#above-content #portal-breadcrumbs {
  display: none;
}

// CAROUSEL

.carousel-text {
    background-color: transparent;
    bottom: 0;
    left: 0;
    padding: 0%;
    position: absolute;
    width: 100%;

    p {
      margin: 0px;
    }
}

#portlets-below {
  border: 0px solid red !important;

}

.BelowPortletManager1 {
    border: 0 none;
    float: left;
    margin: 0;
    width: 320px;
}

.BelowPortletManager2 {
    border: 0 none;
    float: left;
    margin: 0;
    width: 320px;
}

.BelowPortletManager3 {
    border: 0 none;
    float: left;
    margin: 0;
    width: 320px;
}

.item_title a {
  color: @gray !important;
}

.item_title {
  color: @gray !important;
}

.item_description {
  color: @gray !important;
  font-size: @font-size-small;
  line-height: 1.4em;
}

#parent-fieldname-text .invisible {
  visibility: visible !important;
}





// MARKEN

.marken {
    margin: 0px auto !important;
}
.marke {
    border: 1px solid #efefef !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #efefef;
    float: left;
    margin: 0 40px 28px 0;
    padding: 13px;
}
.marke img {
    height: 78px;
    width: 114px;
}
.marke a {
    height: 78px;
    opacity: 0.5;
    width: 114px;
}
.marke a:hover {
    opacity: 1;
}



// Some eample styles for portlets

.portlet {
  .portletHeader {
    font-size: @font-size-base * 1.5;
    padding: @padding-large;
    border-bottom: 1px solid @grayLight;
  }
  .portletItem {
    padding: @padding-large;
  }
  .portletFooter {
    padding: @padding-large;
    font-size: @font-size-small;
  }
}

// Example styles for listings (e.g. folder summary view)

.tileItem {
  .media();
  .tileHeadline {
    .media-heading();
  }
}


#site-footer {
  p {
    text-align: center;
    font-size: @font-size-mini;
    text-transform: uppercase;
    padding-top: @line-height-base;
  }
}

.doormat {
  border: 0px solid red;
  background: -moz-linear-gradient(center top , #D6D6D6, #E8E8E8) repeat scroll 0 0 transparent;
  padding: @line-height-base;

  h4 {
    color: black !important;
  }

  ul {
    margin-left: 0;
  }

  li {
    list-style: none;
    font-size: @font-size-mini - 1;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    line-height: @line-height-base * 1.5;
  }
}

.col-span-4 {
  border: 0px solid black;
  padding-left: 0;
  padding-right: @line-height-base; 
}

.last {
  padding-right: 0 !important; 
}
